@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header img{
    width: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: silver;
}

header nav ul{
    display: flex;
}

nav ul li{
    padding: 0 20px;
    list-style: none;
    font-size: 20px;
}